<!-- -------------------------1st PAGE of the proposition -"PAGE DE  GARDE"-------------------------- -->
<div class="ml-4">
<div class="row">
  <!-- Ajouter ici, sur une même ligne le logo  SecurExperts (a gauche) et le logo Airbus (à droite)-->
  <div>
    <%= cl_image_tag("https://res.cloudinary.com/dmeiwlskm/image/upload/v1560159140/secur_experts_logo_hm18xl.png",
      width: 160, height: 160, crop: :fill) %>
  </div>
  <div>
    <%= cl_image_tag("https://res.cloudinary.com/dmeiwlskm/image/upload/v1560159449/posr9zt2gqerl2okekji.png",
      width: 160, height: 160, crop: :fill) %>
  </div>
</div>



<div class="row">
  <!-- On veut intégrer une image type "banner", qui prenne environ 1/3 de la page et sur laquelle on va incrsuter le H1 ci-après -->
  <%= cl_image_tag("security_memoire_banner.jpg",
      width: 400, height: 300, crop: :fill) %>
  <!-- Dans le H1 on veut faire apparaitre en gras le nom de l'opportunité, sur une ligne séparée de "Commercial proposal for" -->
  <h1>
    Commercial proposal for
    <%= @business_proposal.quotation.opportunity.name %>
  </h1>
</div>

<div class="row">
  <h4>Salesman in charge :</h2>
    <div>
      <ul>
        <li><%= @business_proposal.quotation.opportunity.user.first_name %> <%= @business_proposal.quotation.opportunity.user.last_name %></li>
        <li><%= @business_proposal.quotation.opportunity.user.email %></li>
      </ul>
    </div>
    <div>
      <%= @business_proposal.quotation.opportunity.user.avatar %>
    </div>
</div>



<!-- ---------------------2nd PAGE of the proposition - COMPANY'S INFORMATION-------------------------- -->


<div class="row">
  <h2>Company's presentation</h2>
</div>

  <div class="row">
    <h3>Who we are</h3>
      <div>
        <p>  <!-- le paragraphe ci-dessous doit prendre les 2/3 gauche de la page -->
          <strong>SecurExperts</strong> has been founded in 1985, so we have a huge experience in securising sensitive sites thanks to our experienced staff and our organization structures around 10 offices in France for a strong proximity with our customers.
          Mox dicta finierat, multitudo omnis ad, quae imperator voluit, promptior laudato consilio consensit in pacem ea ratione maxime percita, quod norat expeditionibus crebris fortunam eius in malis tantum civilibus vigilasse, cum autem bella moverentur externa, accidisse plerumque luctuosa, icto post haec foedere gentium ritu perfectaque sollemnitate imperator Mediolanum ad hiberna discessit.
          Mox dicta finierat, multitudo omnis ad, quae imperator voluit, promptior laudato consilio consensit in pacem ea ratione maxime percita, quod norat expeditionibus crebris fortunam eius in malis tantum civilibus vigilasse, cum autem bella moverentur externa, accidisse plerumque luctuosa, icto post haec foedere gentium ritu perfectaque sollemnitate imperator Mediolanum ad hiberna discessit.
          Mox dicta finierat, multitudo omnis ad, quae imperator voluit, promptior laudato consilio consensit in pacem ea ratione maxime percita, quod norat expeditionibus crebris fortunam eius in malis tantum civilibus vigilasse, cum autem bella moverentur externa, accidisse plerumque luctuosa, icto post haec foedere gentium ritu perfectaque sollemnitate imperator Mediolanum ad hiberna discessit.
        </p>
      </div>
      <div> <!-- ci-dessous on intégre une image sur le 1/3 droit de la page avecune image des impalntations des agences de SecurExperts -->
        <%= cl_image_tag("http://res.cloudinary.com/dmeiwlskm/image/upload/v1560178039/modvwrw8cl6tti9rkgmr.png",
        width: 400, height: 300, crop: :fill) %>
      </div>
  </div>

  <div class="row">
    <h3>Some references</h3>
      <p>
        The biggest French companies trust SecurExperts and ask us to manage the security oraganization on their sites :
      </p>
      <ul>
        <li>ITER Cadarache</li>
        <li>EDF La Défense tower</li>
        <li>Ministry of Economy Bercy site</li>
        <li>Total Feyzin petrochemical plant</li>
        <li>EDF nuclear plant of Tricastin</li>
        <li>...</li>
      </ul>
  </div>



  <div class="row">
    <h3>Our expertise on <%= @business_proposal.quotation.opportunity.question_2 %> sites</h3>
      <div>
        <!-- le paragraphe ci-dessous doit s'incruster automatiquement en fonction du choix à la question 2. Par exemple si on a choisi "Industrie", on affichera ici le paragraphe relatif à notre expertise dans le domaine indiustriel -->
        xxx ecrire methode pe récupérer le paragraphe adéquat
        <% if @business_proposal.quotation.opportunity.question_2 == "Industrial" %>
          INDUSTRIAL Mox dicta finierat, multitudo omnis ad, quae imperator voluit, promptior laudato consilio consensit in pacem ea ratione maxime percita, quod norat expeditionibus crebris fortunam eius in malis tantum civilibus vigilasse, cum autem bella moverentur externa, accidisse plerumque luctuosa, icto post haec foedere gentium ritu perfectaque sollemnitate imperator Mediolanum ad hiberna discessit.
        <% elsif @business_proposal.quotation.opportunity.question_2 == "Tertiary" %>
          TERTIARY Mox dicta finierat, multitudo omnis ad, quae imperator voluit, promptior laudato consilio consensit in pacem ea ratione maxime percita, quod norat expeditionibus crebris fortunam eius in malis tantum civilibus vigilasse, cum autem bella moverentur externa, accidisse plerumque luctuosa, icto post haec foedere gentium ritu perfectaque sollemnitate imperator Mediolanum ad hiberna discessit.
        <% else %>
          EVENTS Mox dicta finierat, multitudo omnis ad, quae imperator voluit, promptior laudato consilio consensit in pacem ea ratione maxime percita, quod norat expeditionibus crebris fortunam eius in malis tantum civilibus vigilasse, cum autem bella moverentur externa, accidisse plerumque luctuosa, icto post haec foedere gentium ritu perfectaque sollemnitate imperator Mediolanum ad hiberna discessit.
        <% end %>
      </div>
  </div>
</div>


<!-- ----------------------3rd PAGE of the proposition - TECHNICAL MEMOIRE ----------------------- -->

<div class="row">
  <h2>Our technical proposal</h2>
</div>

<div class="row">
  <h3>Missions resume</h3>
  <table>
    <!--  inclure ici un tableau avec pour chaque mission, et sur 3 lignes, les informations relatives au staff, aux equipments et aux trainings (voir document papier)  -->
  </table>
</div>

<div class="row">
  <h3>Focus on each mission</h3>
<!-- ci-dessous on veut afficher pour chaque mission une card pour le staff, une card pour les equipments et une card pour les trainings (voir document papier pour plus de précision). Appliquer un for.each-->
    <%  @business_proposal.quotation.missions.each do |mission| %>
      <h4>Mission <%= mission.description %></h4>
        <h5 class="card xxxxx">Staff</h5>
        <% mission.staffs.each do |staff|%>
          <%= staff.category %>
          <%= staff.description %>
          <%= staff.picture %>
        <% end %>
        <h5 class="card xxxxx">Equipment</h5>
        <% mission.equipments.each do |equipment|%>
          <%= equipment.category %>
          <%= equipment.description %>
          <%= equipment.picture %>
        <% end %>
        <h5 class="card xxxxx">Training</h5>
        <% mission.trainings.each do |training|%>
          <%= training.category %>
          <%= training.description %>
          <%= training.icon %>
        <% end %>
    <% end %>
</div>


<!-- ---------------------------------4th PAGE of the proposition - PRICE -------------------------------- -->

<div class="row">
  <h2>Financial offer</h2>
</div>

<div class="row text-center">
  <h3>Client : </h3>
</div>
  <div class="row">
    <div class="col"> <p><strong><%= @business_proposal.quotation.opportunity.client.company_name %></strong></p></div>
    <div class="col"><%= @business_proposal.quotation.opportunity.client.company_address %></div>
    <div class="col"><%= @business_proposal.quotation.opportunity.client.first_name %> <%= @business_proposal.quotation.opportunity.client.last_name %></div>
    <div class="col"> <%= @business_proposal.quotation.opportunity.client.email %> </div>
</div>


  <div class="row">
    <h3>Project</h3>
  </div>
  <div class="row">
    <p><strong><%= @business_proposal.quotation.opportunity.name %></strong></p>
    <p><%= @business_proposal.quotation.opportunity.description %></p>
  </div>

<div class="row">
  <h3>Detailed price</h3>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Item category</th>
      <th scope="col">Quantity</th>
      <th scope="col">Hours per year</th>
      <th scope="col">Unit price / Average hourly price</th>
      <th scope="col">Total Price</th>
    </tr>
  </thead>
  <tbody>
  <% @total = 0 %>
<% @business_proposal.quotation.missions.each do |mission| %>
        <!-- <h4>Mission : <%= mission.description %></h4> -->   <!-- essayer d'inclure la description de la mission entre chaque mission dans le tableau -->
  <% if mission.staff_planning == "H24 7/7"  %>
    <% @total_hours = ((mission.quotation.end_date - mission.quotation.starting_date).to_i) * 24 %>
    <% @total_hours %>
  <%  elsif mission.staff_planning == "7/19 Monday>Friday"  %>
    <%  @total_hours = ((mission.quotation.end_date - mission.quotation.starting_date).to_i) / 7 *5 * 12  %>
    <% @total_hours %>
  <%   elsif mission.staff_planning == "19/7 Monday>Friday & H24 on WE"  %>
    <% @total_hours = ((mission.quotation.end_date - mission.quotation.starting_date).to_i) / 7 *5 * 12 + ((mission.quotation.end_date - mission.quotation.starting_date).to_i) / 7 *2 * 12 %>
    <% @total_hours %>
  <%   else  %>
     <%  "error"  %>
  <% end %>

      <% mission.staffs.each do |staff|%>
       <tr>
        <th scope="row"> <%= staff.category %></th>
          <td><%= mission.staff_quantity %></td>
          <td><%= @total_hours %></td>
          <td><%= @average_hourly_price = staff.worked_time_hourly_rate %></td>
          <td><%= number_with_delimiter((total_staff_price = @total_hours * mission.staff_quantity * @average_hourly_price).round(0), delimiter: " ")   %> €</td>
          <% @total += total_staff_price %>
        </tr>
      <% end %>

      <% mission.trainings.each do |training|%>
        <tr>
        <th scope="row"><%= training.category %> </th>
          <td><%= mission.training_quantity %></td>
          <td>/</td>
          <td><%= number_with_delimiter((unit_training_price = training.duration.to_i * @average_hourly_price + training.educational_cost * (1 + @business_proposal.quotation.margin_rate)).round(0), delimiter: " ") %></td>
          <td><%= number_with_delimiter((total_training_price = unit_training_price * mission.training_quantity * (1 + @business_proposal.quotation.margin_rate/100)).round(0),delimiter: " ") %> €</td>
         </tr>
           <% @total += total_training_price %>
      <% end %>
      <% mission.equipments.each do |equipment|%>
        <tr>
      <th scope="row"> <%= equipment.category %> </th>  <!-- EQUIPMENTS -->

          <td><%= mission.equipment_quantity %></td>   <!-- peut-on appeler la mission alors que l'on est ds la boucle  equipment ici ?????? -->
          <td>/</td>  <!-- ne pas renseigner cette colonne pr les equipments -->
          <td><%= equipment.cost * (1 + @business_proposal.quotation.margin_rate) %></td> <!-- calculer ici le coût total (pédagogique + salaires) par personnel -->
          <td><%= total_equipment_price =mission.equipment_quantity * equipment.cost * (1 + @business_proposal.quotation.margin_rate) %> €</td> <!-- calculer ici le prix total par an  -->
        </tr>
          <% @total += total_equipment_price %>
      <% end %>
  <% end %>
   <tr>
        <th scope="row"> Total </th>  <!-- EQUIPMENTS -->

          <td></td>   <!-- peut-on appeler la mission alors que l'on est ds la boucle  equipment ici ?????? -->
          <td>/</td>  <!-- ne pas renseigner cette colonne pr les equipments -->
          <td></td> <!-- calculer ici le coût total (pédagogique + salaires) par personnel -->
          <td><%= number_with_delimiter((@total).round(0),delimiter: " ") %> €</td> <!-- calculer ici le prix total par an  -->
        </tr>


  </tbody>
</table>



















<!-- ---------------------------------5th PAGE of the proposition------------------------------------ -->


<div class="row">
  <h2>Terms and Conditions</h2>
  <p>
    Mox dicta finierat, multitudo omnis ad, quae imperator voluit, promptior laudato consilio consensit in pacem ea ratione maxime percita, quod norat expeditionibus crebris fortunam eius in malis tantum civilibus vigilasse, cum autem bella moverentur externa, accidisse plerumque luctuosa, icto post haec foedere gentium ritu perfectaque sollemnitate imperator Mediolanum ad hiberna discessit.
    Mox dicta finierat, multitudo omnis ad, quae imperator voluit, promptior laudato consilio consensit in pacem ea ratione maxime percita, quod norat expeditionibus crebris fortunam eius in malis tantum civilibus vigilasse, cum autem bella moverentur externa, accidisse plerumque luctuosa, icto post haec foedere gentium ritu perfectaque sollemnitate imperator Mediolanum ad hiberna discessit.
    Mox dicta finierat, multitudo omnis ad, quae imperator voluit, promptior laudato consilio consensit in pacem ea ratione maxime percita, quod norat expeditionibus crebris fortunam eius in malis tantum civilibus vigilasse, cum autem bella moverentur externa, accidisse plerumque luctuosa, icto post haec foedere gentium ritu perfectaque sollemnitate imperator Mediolanum ad hiberna discessit.
    Mox dicta finierat, multitudo omnis ad, quae imperator voluit, promptior laudato consilio consensit in pacem ea ratione maxime percita, quod norat expeditionibus crebris fortunam eius in malis tantum civilibus vigilasse, cum autem bella moverentur externa, accidisse plerumque luctuosa, icto post haec foedere gentium ritu perfectaque sollemnitate imperator Mediolanum ad hiberna discessit.
    Mox dicta finierat, multitudo omnis ad, quae imperator voluit, promptior laudato consilio consensit in pacem ea ratione maxime percita, quod norat expeditionibus crebris fortunam eius in malis tantum civilibus vigilasse, cum autem bella moverentur externa, accidisse plerumque luctuosa, icto post haec foedere gentium ritu perfectaque sollemnitate imperator Mediolanum ad hiberna discessit.
    Mox dicta finierat, multitudo omnis ad, quae imperator voluit, promptior laudato consilio consensit in pacem ea ratione maxime percita, quod norat expeditionibus crebris fortunam eius in malis tantum civilibus vigilasse, cum autem bella moverentur externa, accidisse plerumque luctuosa, icto post haec foedere gentium ritu perfectaque sollemnitate imperator Mediolanum ad hiberna discessit.
    Mox dicta finierat, multitudo omnis ad, quae imperator voluit, promptior laudato consilio consensit in pacem ea ratione maxime percita, quod norat expeditionibus crebris fortunam eius in malis tantum civilibus vigilasse, cum autem bella moverentur externa, accidisse plerumque luctuosa, icto post haec foedere gentium ritu perfectaque sollemnitate imperator Mediolanum ad hiberna discessit.
    Mox dicta finierat, multitudo omnis ad, quae imperator voluit, promptior laudato consilio consensit in pacem ea ratione maxime percita, quod norat expeditionibus crebris fortunam eius in malis tantum civilibus vigilasse, cum autem bella moverentur externa, accidisse plerumque luctuosa, icto post haec foedere gentium ritu perfectaque sollemnitate imperator Mediolanum ad hiberna discessit.
    Mox dicta finierat, multitudo omnis ad, quae imperator voluit, promptior laudato consilio consensit in pacem ea ratione maxime percita, quod norat expeditionibus crebris fortunam eius in malis tantum civilibus vigilasse, cum autem bella moverentur externa, accidisse plerumque luctuosa, icto post haec foedere gentium ritu perfectaque sollemnitate imperator Mediolanum ad hiberna discessit.
    Mox dicta finierat, multitudo omnis ad, quae imperator voluit, promptior laudato consilio consensit in pacem ea ratione maxime percita, quod norat expeditionibus crebris fortunam eius in malis tantum civilibus vigilasse, cum autem bella moverentur externa, accidisse plerumque luctuosa, icto post haec foedere gentium ritu perfectaque sollemnitate imperator Mediolanum ad hiberna discessit.
  </p>
</div>
</div>
