<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fa fa-rocket" aria-hidden="true"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Rocket proposals<sup></sup></div>
  </a>
  <!-- Divider -->
  <hr class="sidebar-divider my-0">
  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
     <%= link_to(root_path, class: "nav-link") do %>
      <i class="fas fa-fw fa-tachometer-alt"></i>
      Dashboard
      <% end %>
    </li>

      <!-- Divider -->
      <hr class="sidebar-divider">
      <!-- Heading -->
      <div class="sidebar-heading">
        Interface
      </div>
      <!-- Nav Item - Pages Opportunities Collapse Menu  -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOpportunities" aria-expanded="true" aria-controls="collapseOpportunities">
          <i class="fas fa-fw fa-cog"></i>
          <span>Opportunities</span>
        </a>
        <div id="collapseOpportunities" class="collapse" aria-labelledby="headingOpportunities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <%= link_to 'List', opportunities_path, class: "collapse-item" %>
            <%= link_to 'Create', new_client_path, class: "collapse-item" %>
          </div>
        </div>
      </li>
      <!-- Nav Item - Pages Clients Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseClients" aria-expanded="true" aria-controls="collapseClients">
          <i class="fas fa-address-book"></i>
          <span>Clients</span>
        </a>
        <div id="collapseClients" class="collapse" aria-labelledby="headingClients" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <%= link_to 'List', clients_path, class: "collapse-item" %>
            <%= link_to 'create', new_client_path, class: "collapse-item" %>
          </div>
        </div>
      </li>
<!-- Nav Item - Pages Quotations Collapse Menu -->
       <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseQuotations" aria-expanded="true" aria-controls="collapseQuotations">
        <i class="fas fa-euro-sign"></i>
          <span>Quotations</span>
        </a>
        <div id="collapseQuotations" class="collapse" aria-labelledby="headingQuotations" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <%= link_to 'List', clients_path, class: "collapse-item" %>
            <%= link_to 'create', new_client_path, class: "collapse-item" %>
          </div>
        </div>
      </li>
<!-- Nav Item - Pages Memoire Collapse Menu -->
       <li class="nav-item">
        <%= link_to root_path, class: "nav-link" do %>
          <i class="fa fa-briefcase" aria-hidden="true"></i>
          <span>Business Proposals</span>
        <% end %>
       <!--   Fiona_Remplacer 66 par le bon path -->

      </li>
      <!-- Divider -->
      <hr class="sidebar-divider">
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">
      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>
