<h5 class="h3 mb-4 font-weight-bold text-primary">My Companies</h5>

<%= form_tag clients_path, method: :get do %>
<%= text_field_tag :query,
params[:query],
class: "form-control",
placeholder: "Search for company" %>
<% end %>
  <div class="main-container">
    <div class="cards">
      <%= link_to new_client_path, class: "btn btn-primary d-flex align-items-center justify-content-around new-company" do %>
          <div class="">
              <h2><i class="fas fa-plus"></i></h2>
              <p>Add new Company</p>
          </div>
      <% end %>
      <% @clients.each do |client| %>
        <%= link_to client_path(client), style: "text-decoration: none;" do %>
          <div class="card-category d-flex justify-content-around align-items-center" style="">
                  <%= cl_image_tag(client.company_picture, :width=>150) %>

          </div>
        <% end %>
      <% end %>


    </div>
    <div
      id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
</div>

