<h1>Clients#show</h1>
<ul>
  <li>Company: <%= @client.company_name  %></li>
  <li>SIRET: <%= @client.company_SIRET %></li>
  <li><%= @client.company_picture %></li>
  <li>Address: <%= @client.company_address %></li>
  <li>Sector of activity: <%= @client.activity_sector %></li>
  <li>First name:<%= @client.first_name %></li>
  <li>Last name: <%= @client.last_name %></li>
  <li>email: <%= @client.email %></li>
  <li>Phone: <%= @client.phone %></li>
  <li>LinkedIn: <%= link_to @client.linkedin %></li>
  <li>Category: <%= @client.category %></li>
  <li>Function: <%= @client.function %></li>
</ul>
<p>Find me in app/views/clients/show.html.erb</p>
