<div class="container d-inline-flex">


  <div>
<ul class="list-unstyled mr-5">
  <h5 class="h3 mb-4 font-weight-bold text-primary">Company</h5>

  <li><strong>Name: </strong><%= @client.company_name  %></li>
  <li><strong>SIRET: </strong><%= @client.company_SIRET %></li>
  <li><%= cl_image_tag @client.company_picture, width: 400 %></li>
  <li><strong>Address:</strong> <%= @client.company_address %></li>
  <li><strong>Sector of activity:</strong> <%= @client.activity_sector %></li>

  </ul>
</div>
<div>
  <ul class="list-unstyled">



  <h5 class="h3 mb-4 font-weight-bold text-primary">Contact</h5>
  <li><strong>First name:</strong><%= @client.first_name %></li>
  <li><strong>Last name:</strong><%= @client.last_name %></li>
  <li><strong>email:</strong><%= @client.email %></li>
  <li><strong>Phone:</strong><%= @client.phone %></li>
  <li><strong>LinkedIn:</strong><%= link_to @client.linkedin %></li>
  <li><strong>Category:</strong><%= @client.category %></li>
  <li><strong>Function:</strong><%= @client.function %></li>
</ul>
</div>
</div>


<%= link_to 'Back to My companies', clients_path, class: "btn btn-primary" %>
<%= link_to 'Create an opportunity', new_client_opportunity_path(@client), class: "btn btn-primary" %>



