<div class="container">
  <div class="row">
   <div class="col-12">
    <h1>Quotations#new</h1>
      <%= simple_form_for [@opportunity, @quotation] do |f| %>
      <%= f.input :margin_rate%>
      <%= f.input :starting_date%>
      <%= f.input :end_date%>
      <%= f.submit 'Create a mission', class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>
