<!-- Area Chart -->
<div class="col-xl-12 col-lg-7">
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h5 class="m-0 font-weight-bold text-primary">Quotation missions</h5>
        </div>
      </div>
    </div>


    <div class="container">
  <div class="row">
   <div class="col-12">

    <%= @quotation.opportunity.name %>
    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
            <thead>
              <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Action: activate to sort column descending" style="width: 148px;">
                  Company name
                </th>
                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Action: activate to sort column descending" style="width: 172px;">
                  Mission</th>
                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Co logo: activate to sort column ascending" style="width: 207px;">
                  Description
                </th>
                 <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Co logo: activate to sort column ascending" style="width: 207px;">
                  Actions Quotations
                </th>

          </tr>
          </thead>
          <tbody>
            <tr role="row" class="odd">
              <% @quotation.missions.each do |mission| %>
              <% opportunity = mission.quotation.opportunity %>
              <td class="sorting_1 company-name"><%= opportunity.client.company_name %></td>
              <td><%= opportunity.name %></td>
              <td><%= opportunity.description %></td>
              <td><span></span>
                <%= link_to new_opportunity_quotation_mission_path(opportunity, mission.quotation), class: "btn btn-secondary" do%>
                  <i class="fas fa-plus"></i>
                <% end %>
                <%= link_to opportunity_quotation_mission_path(opportunity, mission.quotation, mission), data: { confirm: "Are you sure you want to edit?"}, class: "btn btn-secondary" do %>
                  <i class="fas fa-pencil-alt"></i>
                <% end %>
                <%= link_to opportunity_quotation_mission_path(@opportunity, @quotation, mission), data: { confirm: "Are you sure you want to delete?"}, method: :delete, class: "btn btn-secondary" do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>

<div>
        <% if @quotation.business_proposal.present? %>
        <%= link_to 'View your business proposal', quotation_business_proposal_path(@quotation) %>
        <% else %>
        <%= link_to 'Create a business proposal', quotation_business_proposals_path(@quotation), method: :post %>
        <% end %>
</div>
    </div>
  </div>
</div>




