<div class="container">
  <div class="row">
   <div class="col-12">
      <ul><%= @quotation.opportunity.name %>
        <% @quotation.missions.each do |mission| %>
        <li>
          Mission: <%= mission.description %>
           <%= link_to 'Edit this mission', opportunity_quotation_mission_path(@opportunity, @quotation, mission) %>
           <%= link_to 'Remove this mission', opportunity_quotation_mission_path(@opportunity, @quotation, mission), method: :delete %>
        </li>
        <% end %>
        <%= link_to 'Add a mission', new_opportunity_quotation_mission_path(@opportunity, @quotation) %>
        raise
        <% if @quotation.business_proposal.present? %>
        <%= link_to 'View your business proposal', quotation_business_proposal_path(@quotation) %>
        <% else %>
        <%= link_to 'Create a business proposal', quotation_business_proposals_path(@quotation), method: :post %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
