<h5 class="h3 mb-4 font-weight-bold text-primary">Create a New Opportunity</h5>
<p>Please complete:</p>
<div class="narrow-form">
  <%= simple_form_for [@client, @opportunity] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :company, input_html: {value: @client.company_name}%>
  <%= f.input :question_1,
                required: true,
                collection: ["Only quotation", "Light proposal", "Full proposal"],
                input_html: { autocomplete: "question_1" }  %>
    <%= f.input :question_2 ,
                required: true,
                collection: ["Industrial", "Tertiary", "Events"],
                input_html: { autocomplete: "question_2" } %>
    <%= f.input :question_3 ,
                required: true,
                collection: ["Yes", "No"],
                input_html: { autocomplete: "question_3" } %>
    <%= f.input :status ,
                required: true,
                collection: ["Pending", "Won", "Lost"],
                input_html: { autocomplete: "status" } %>
    <%= f.submit class: "btn btn-primary"%>
    <% end %>
</div>





